# Google Cloud Project Configuration
GCP_PROJECT=
PROJECT_ID=
LOCATION=us-central1

# WhatsApp API Configuration (Meta for Developers)
VERIFY_TOKEN=
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=

# Application Configuration
DATABASE_NAME=(default)
SPREADSHEET_ID=
