functions-framework
google-cloud-firestore
google-auth
google-api-python-client
requests
pandas
tabulate
langchain-google-vertexai
langchain-experimental
langchain-core
langsmith
gunicorn
google-cloud-texttospeech
